<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
<title>Filters</title>
<script src="/js/angular.js"></script>
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/bootstrap-theme.css" rel="stylesheet" />
<script type="text/ng-template" id="triTemplate">
    <div class="well">
        <div class="btn-group">
            <button class="btn btn-default">Yes</button>
            <button class="btn btn-default">No</button>
            <button class="btn btn-default">Not Sure</button>
        </div>
    </div>
</script>
<script>
	angular.module("exampleApp", []).controller("defaultCtrl",
			function($scope) {
	            $scope.dataValue = "Not Sure";
			})
			.directive("triButton", function(){
			    return {
			    	restrict: "E",
			    	replace: true,
			    	require: "ngModel",
			    	template: function() {
			    		return angular.element(document.querySelector("#triTemplate")).html();
			    	},
			    	link: function (scope, element, attrs, ctrl) {
                        element.on("click", function(event){
                        	var buttonText = event.target.innerText || event.target.textContent;
                            setSelected(buttonText);
                            scope.$apply(function() {
                                ctrl.$setViewValue(buttonText);
                            });
                        });
                        
			    		var setSelected = function(value) {
			    			var buttons = element.find("button");
			    			buttons.removeClass("btn-primary");
			    			for(var i = 0; i < buttons.length; i++) {
			    				if (buttons.eq(i).text() == value) {
			    					buttons.eq(i).addClass("btn-primary");
			    				}
			    			}
			    		};
			    		
			    		ctrl.$render = function() {
				    		setSelected(ctrl.$viewValue || "Not Sure");
			    		};
			    		
			    		ctrl.$formatters.push(function(value){
			    			return value == "Huh?" ? "Not Sure" : value;
			    		});
			    	}
			    }
			});
</script>
</head>
<body ng-controller="defaultCtrl">
    <div>
        <tri-button ng-model="dataValue" />
    </div>
    <div class="well">
        Value: 
        <select ng-model="dataValue">
            <option>Yes</option>
            <option>No</option>
            <option>Not Sure</option>
            <option>Huh?</option>
        </select>
    </div>
</body>
</html>